Závislostinode_modules/Proměnné prostředí.env.env.*!.env.exampleLogylogs.lognpm-debug.logyarn-debug.log*yarn-error.log*pnpm-debug.log*Dočasné soubory editorů.idea.vscode/*!.vscode/settings.json!.vscode/tasks.json!.vscode/launch.json!.vscode/extensions.json*.swpBuild výstupydistbuild.netlifySoubory operačního systému.DS_StoreThumbs.db